DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.ngrok-free.app
DJANGO_LANGUAGE_CODE=es-cl
DJANGO_TIME_ZONE=America/Santiago
SQLITE_NAME=db.sqlite3
